h1 {
  color: rgb(0, 221, 255);
  font-size: 24px;
}
aside ul {
  list-style-type: square;
}

aside li {
  color: rgb(47, 255, 0);
  line-height: 2em;
}

aside a {
  color: rgb(74, 167, 31);
}

nav {
  margin-top : 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
}

nav a {
  padding: 5px 10px;
  border: 2px solid indigo;
  color: indigo;
  background-color: cornsilk;
  text-decoration: none;
}

nav a:hover {
  border: 2px, solid cornsilk;
  color: cornsilk;
  background-color: indigo;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: hsla(93, 94%, 50%, 0.1);
  padding : 2em;
  font : Arial, sans-serif 
}

h2 {
  color: rgb(0, 102, 255);
  font-size: 2rem;
}
header {
  background-color: hsl(221, 87%, 65%);
  text-align: center;
  padding: 10px;
}

main {
  float: left;
  width: 65vw;
  background-color: hsl(50, 87%, 65%);
  Padding: 10px;
}

aside {
  float: right;
  width: 25vw;
  background-color: hsl(100, 87%, 65%);
  Padding: 10px;
}
aside a:hover {
  color: hsl(357, 87%, 65%);
}

.structural {
  padding: 10px;
  margin: 10px;
}

footer {
  clear: both;
  background-color: hsl(160, 87%, 65%);
  Padding: 10px;
}

footer p {
  font-size: 0.8em; 
}

aside a:hover {
  color: hsl(78, 87%, 65%);
}
#para1 {
  color: rgb(50, 120, 150);
}
#para2 {
  color: rgb(190, 40, 40);
}
form {
  border: 5px dashed rgb(9, 190, 24);
  padding : 5px;
}
input[type="text"],
input[type="email"],
input[type="submit"],
select,
option {
  width: 50%;
  display: block;
  height: 2em;
}

input[type="radio"],
input[type="checkbox"] {
  width: 2em;
  height: 2em;
}

select,
option,
label,
legend,
input[type=submit]
 {
  font-size: 1.5rem;
  font-weight: bold;
  font-variant: small-caps;
}

textarea {
  width: 50%;
  display: block;
}

fieldset {
  border: none;
}
main, aside{
  height: auto;
}
